.favourite-main-div{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin-left: 1rem;
}
.favourite-bg-image img{
    height: 10rem;
    width: 13rem;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 40%;
}
.favourite-bg-Overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.3); 
    /* z-index: -1; */
}