.favourite-main-div{
    width: 100%;
    height: 80vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1671578324515-b7c3a68c0002?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1020&q=80");
    object-fit: cover;
    margin-left: 1rem;
    z-index: -1;
}
.favourite-bg-Overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 239, 239, 0.3); 
    margin-left: 1rem;
}