.Home-main-div{
    width: 78vw;
    right: 3vw;
    position: absolute;
    margin-top: 1rem;
    top: 20vh;
}
.main-background img{
    width: 100%;
}

/* ---------Flash Sale Container------- */
.flash-sale-heading{
    margin-top: 0;
    font-size: 0.8rem;
}
.flash-sale-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    
}
.flash-sale-container-card{
    width: 18rem;
    height: 30rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 3rem;
    border: none;
}
.flash-sale-container-card-img{
    width: 100%;
    height: 20rem;
}
.flash-sale-container-card-img{
    width: 100%;
    height:60vh;
    overflow: hidden;
}
.flash-sale-container-card-img img{
    width: 100%;
    height: 60vh;
    transition: transform 0.5s ease-in-out;
}
.flash-sale-container-card-img img:hover{
   transform: scale(1.1);

}
.flash-sale-container-card-body{
    padding: 0;
    padding-top: 1rem;

}



@media screen and (max-width:500px) {

    .Home-main-div{
        width: 94vw;
        height: 20vh;
        right: 3vw;
        left: 3vw;
        position: absolute;
        margin-top: 1rem;
        top: 17vh;
    }
    .main-background img{
        height: 20vh;
    }


    /* ---------Flash Sale Container------- */

    .flash-sale-container-card{
        width: 10rem;
        height: 25rem;
        margin-right: 0.1rem;
        margin-left: 0.1rem;
        margin-bottom: 3rem;
        border: none;
    }
    .flash-sale-container-card-img{
        width: 100%;
        height:60vh;
        overflow: hidden;
    }
    .flash-sale-container-card-img img{
        width: 100%;
        height: 60vh;
        transition: transform 0.5s ease-in-out;
    }
    .flash-sale-container-card-img img:hover{
       transform: scale(1.1);
    
    }
    .flash-sale-container-card-body{
        padding: 0;
        padding-top: 1rem;
    
    }

}