.Extended-Home-items-main-div{
    margin: 1rem;
}

/* Header---- */
.upper-header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5vh;
}
.lower-header{
    margin: 3vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 203, 196,0.6);
    padding: 1vh 2vw;
    color: rgb(0, 0, 0,0.6);
}
.lower-header p{   
    margin: 0 0.5vw;
}
.Extended-Home-items-heading{
    text-align: center;
}

/* container----- */
.Extended-Home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    
}

/* ----------- */
.Extended-Home-container-card-body a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Extended-Home-container-card-body-button{
    display: inline-block;
    width: 8vw;
    height: 5vh;
    font-size: 1.2rem;
    color: blue;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
   
}
.Extended-Home-container-card-body-button:hover{
    border:1px solid rgb(5, 5, 252,0.5);
}
.About-Extended-Home-Items{
    padding: 1vh 0;
}

/* ---------Extended Home Container------- */

.Extended-Home-container-card{
    width: 18vw;
    height: 70vh;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 3rem;
    border: none;
}

.Extended-Home-container-card-img{
    width: 100%;
    height:50vh;
    overflow: hidden;
}
.Extended-Home-container-card-img img{
    width: 100%;
    height: 50vh;
    transition: 0.5s ease;
    
    
}
.Extended-Home-container-card-img img:hover{
   transform: scale(1.1);

}
.Extended-Home-container-card-body{
    padding: 0;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Extended-Home-container-card-title{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}
.Extended-Home-container-card-PRICE{
    color: green;
    font-weight: bolder;
    position: absolute;
    bottom: 3.5vh;
}
.Extended-Home-container-image-name-center{
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: center;
}
.Extended-Home-container-image-name{
    padding-top: 1vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    z-index: 1;
}

@media screen and (max-width:500px) {
    
/* Header---- */ 
.upper-header{
    font-size: 0.8rem;
}
.lower-header{
   flex-direction: column;
}
.lower-header p{   
    margin: 0 0.5vw;
    margin-top: 2vh;
}
.Extended-Home-items-heading{
    text-align: center;
}
.About-Extended-Home-Items{
    padding: 0;
    font-size: 0.5rem;
    padding-right: 2vw;
}


/* ---------- */
.Extended-Home-container-card{
    width: 40vw;
    height: 63vh;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;
    border: none;
}
.Extended-Home-container-card-img{
    width: 100%;
    height:40vh;
    overflow: hidden;
    
}
.Extended-Home-container-card-img img{
    width: 100%;
    height: 40vh;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
}

.Extended-Home-container-card-body{
    padding: 0;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}
.Extended-Home-container-card-title{
    font-size: 0.7rem;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
}
.Extended-Home-container-card-PRICE{
    position: absolute;
    bottom: 6vh;
}
.Extended-Home-container-card-body a{
    display: flex;
    justify-content: center;

}
.Extended-Home-container-card-body-button{
    display: inline-block;
    width: 30vw;
    height: 5vh;
    font-size: 1.1rem;
    border-radius: 10rem;
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
}
}