.Navbar-main-div{
    height: 21vh;
    background-color: rgb(236, 236, 236,0.9);
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.Navbar-background-color-dark{
    background-color: black;
    height: 4vh;
}
.Navbar-background-color-dark p{
    font-size: 0.8rem;
    padding-top: 0.5vh;
    
}
.Navbar-background-color-dark p span a{
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.pernia-white-color{
    color: white;
}
.pernia-color-red{
    color: rgb(252, 4, 4);
}
.Navbar-main-sub-div{
    text-align: center;
    padding-top: 2vh;
    font-weight: bolder;
    display: flex;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between;
}
.Navbar-main-sub-div h1{
    font-size: 2.5rem;
    margin-left: 2.5rem;

    
}
.Navbar-sub-div-button{
    margin-top: 0.6rem;
    font-weight: bold;
    color: rgb(54, 53, 53,0.7);
}
.Navbar-sub-div-button:hover{
    border: 1px solid rgba(62, 52, 52, 0.3);
    border-radius: 50%;
}
.Navbar-sub-div-icons {
    margin-top: 0.6rem;
}
.Navbar-sub-div-icons i{
    margin: 0.8rem;
    font-size: 1.2rem;
    position: relative;

}
.Navbar-sub-div-icons i:hover{
    cursor: pointer;
}
.Navbar-sub-div-icons i:hover::after{
    content:'';
    position: absolute;
    background-color: rgba(235, 7, 45, 0.2);
    width: 2rem;
    height: 2rem;
    top: -0.4rem;
    left: -0.45rem;
    
    border-radius: 50%;
}

/* ----------- */
.nav-items ul{
    display: flex;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 0.8rem;
    justify-content: center;
}
.nav-items ul li{
    font-size: 0.8rem;
    list-style: none;
    font-weight: bold;
    color: rgb(55, 27, 27,0.8);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.nav-items ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: rgba(245, 2, 2, 0.522);
}
.nav-items ul li:hover::after{
    content: '';
    position: absolute;
    background-color: rgb(244, 44, 78,0.8);
    width: 100%;
    height: 0.3vh;
    top:100%;
    left: 0;
    border-radius: 50%;
}

/* --------Li Display----- */
.JamdaniNavData-container{
    position: absolute;
    top: 18vh;
    width: 100vw;
    height: 58vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vh;

    
}
.JamdaniNavData-container-Not-active{
    left: -100vw;
    transition: left 1s ease;
}
.JamdaniNavData-container-active{
    left: 0;
    transition: left 1s ease;
}

.JamdaniNavData-container-card{
    width: 18rem;
    height: 55vh;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    margin-bottom: 3rem;
    border: none;
    
}
.JamdaniNavData-container-card-img{
    width: 100%;
    /* height:40vh; */
    overflow: hidden;
    height: 38vh;
}
.JamdaniNavData-container-card-img img{
    width: 100%;
    /* height: 100%; */
    transition: 0.8s ease;
}
.JamdaniNavData-container-card-img img:hover{
   transform: scale(1.1);

}
.JamdaniNavData-container-card-body{
    padding: 0;
    padding-top: 1rem;

}
.JamdaniNavData-container-card-body-button{
    width: 8vw;
    height: 4vh;
    font-size: 1.2rem;
    background-color:blue;
    color:white;
    margin-bottom: 2vh;
    border: none;
    position: absolute;
    bottom: -0.6rem;
    border-radius: 1rem;
}
.JamdaniNavData-container-card-body-button:hover{
    background-color:rgb(42, 2, 79);
    color:white;
}
.JamdaniNavData-container-card-body-title-p{
    font-size: 0.7rem;
    margin-top: 0;
    font-weight: bolder;
    padding-bottom: 3.5rem;
    padding-top: 0;
    
}
.JamdaniNavData-container-card-body-price-p{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bolder;
    position: absolute;
    bottom: 2.5rem;
    color: green;
}

.cart-value{
    position: absolute;
    top: 6vh;
    right: 4vw;
    height: 3.5vh;
    width: 1.7vw;
    background-color: blue;
    color: white;
    border-radius: 50%;
}
.user-signed-symbol-white{
    display: none;
}
.user-signed-symbol-green{
    position: absolute;
    top: 5.8vh;
    right: 10.8vw;
    color: green;
}





@media screen and (max-width:500px) {

    .Navbar-main-div{
        height: 18vh;
        background-color: rgb(236, 236, 236,0.9);
        position: fixed;
        width: 100vw;
    }

    .Navbar-background-color-dark{
        background-color: black;
        height: 3.5vh;
        padding-top: 0.18rem;
    }
    .Navbar-background-color-dark p{
        font-size: 0.7rem;
        padding-top: 0;
        
    }
    .Navbar-main-sub-div{
        padding-top: 1rem;
        font-weight: bolder;
        padding-left: 1rem;
        padding-right: 0.2rem;
        justify-content: space-between;
    }

    .Navbar-sub-div-button{
        display: none;
    }
    .Navbar-main-sub-div h1{
        font-size: 1.5rem;
        margin-left: 5vw;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    
        
    }
    .Navbar-sub-div-icons i{
        margin: 0.1rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        font-size: .8rem;
        position: relative;
    
    }
    .Navbar-sub-div-icons i:hover::after{
        content:'';
        position: absolute;
        background-color: rgba(235, 7, 45, 0.2);
        width: 1.5rem;
        height: 1.5rem;
        top: -0.3rem;
        left: -0.4rem;
        
        border-radius: 50%;
    }
    .Navbar-sub-div-icons i.mobile-display-none{
        display: none;
    }
    .mobile-display-right-user{
        right: -4.5vw;
    }
    .mobile-display-left-cart{
        
        right: 7vw;
    }


    
    /* ---------- */

    .nav-items ul{
        display: flex;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.8rem;
        justify-content: center;
    }
    .nav-items ul li{
        font-size: 0.6rem;
        list-style: none;
        font-weight: bold;
        color: rgb(55, 27, 27,0.8);
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
    


    /* ------Drop down li----- */
    .JamdaniNavData-container{
        position: absolute;
        top: 15vh;
        width: 100vw;
        height: 33vh;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 2vh;
        
    }
    .JamdaniNavData-container-card{
        width: 20vw;
        height: 30.9vh;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-bottom: 0;
        border: none;
        
    }

    .JamdaniNavData-container-card-img{
        width: 100%;
        height:20vh;
        overflow: hidden;
    }
    .JamdaniNavData-container-card-img img{
        width: 100%;
        height: 20vh;
        transition: 0.8s ease;
        object-fit: cover;
    }
    .JamdaniNavData-container-card-img img:hover{
       transform: scale(1.1);
    
    }
    .JamdaniNavData-container-card-body{
        height: 10vh;
        padding: 0;
        padding-top: 0.3rem;
        /* padding-left: 0.2rem; */
        padding-right: 0.3rem;
    
    }
    .JamdaniNavData-container-card-body-button{
        width: 15vw;
        height: 3vh;
        font-size: 0.5rem;
        background-color: rgb(73, 73, 198);
        color: white;
        border-radius: 10rem;
        margin-bottom: 2vh;
        padding-bottom: 0;
        position: absolute;
        bottom: -0.4rem;
    }
    .JamdaniNavData-container-card-body-title-p{
        font-size: 0.3rem;
        margin-left: 0.5vw;
        margin-bottom: 0;
        font-weight: bolder;
        
    }
    .JamdaniNavData-container-card-body-price-p{
        font-size: 0.4rem;
        margin-left: 0.5vw;
        margin-bottom: 0;
        font-weight: bolder;
        position: absolute;
        bottom: 5vh;
        color: green;
    }
    .cart-value{
        position: absolute;
        top: 4.5vh;
        right: 8vw;
        height: 3.2vh;
        width: 5vw;
        background-color: red;
        color: white;
        border-radius: 50%;
    }
    .user-signed-symbol-white{
        display: none;
    }
    .user-signed-symbol-green{
        top: 5vh;
        right: 2.5vw;
        color: green;
    }
    .mobile-display-favourites{
        position: absolute;
        right: 1vw;
    }
    


    
}
