body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.sidebar-main-div {
  height: 100%;
  width: 16vw;
  background-color: rgb(246, 231, 205, 0.4);
  
  position: fixed;
  left: 0;
  top: 21vh;
  border-radius: 0 1rem 0 0;
}
.sidebar-items ul li {
  list-style: none;
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
  position: relative;
}
.sidebar-items ul li:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.sidebar-items ul li:hover::after {
  content: "";
  position: absolute;
  background-color: rgba(57, 44, 46, 0.8);
  height: 0.3vh;
  top: 100%;
  left: 2vw;
  width: 0;
  transition: width 0.5s ease;
}
.sidebar-items ul li:hover::after {
  width: 20%;
}
.sidebar-items ul li i {
  font-size: 0.9rem;
  padding-right: 0.1rem;
  width: 1.5vw;
}
.side-bar-container-mobile {
  display: none;
}

.sidebar-items ul li a{
text-decoration: none;
padding-left: 0.5vw;

color: rgb(38, 34, 34);
}

.favourite-pc-display-none{
  display: none;
}
.Search-pc-display-none{
  display: none;
}
.Sidebar-contact i{
  color: rgb(0, 140, 255);
}
.Sidebar-Orders i{
  color:orange;
}
.Sidebar-About i{
  color:rgb(240, 4, 126);
}
.Sidebar-Home i{
  color:rgb(173, 173, 14);
}

@media screen and (max-width: 500px) {
  .hide-to-right{
    background-color: rgb(44, 40, 40,0.9);
    position: fixed;
    color: wheat;
    border-radius: 0;
    height: 100%;
    width: 50vw;
    top: 18vh;
    left: 100%;
    z-index: 3;
    transition: left 1s ease; 
  }
  
  .sidebar-main-div-show {
    background-color: rgb(44, 40, 40,0.9);
    position: fixed;
    color: wheat;
    border-radius: 0 ;
    /* justify-content: center; */
    /* align-items: center; */
    left: 0;
    top: 18vh;
    height: 100%;
    width: 50vw;
    z-index: 3;
    transition: left 1s ease;
  }
  
  /* ------------ */

  .side-bar-container-mobile {
    display: block;
    position: fixed;
    left: 2vw;
    margin-top: 2vh;
    z-index: 2;
    top: 4.7vh;
  }
  .side-bar-mobile {
    border: none;
    border-radius: 4rem;
    background-color: wheat;
  }
  .side-bar-mobile-active-background{
    background-color: rgb(44, 40, 40,0.9) ;
    color: wheat;
  }
  .sidebar-items ul{
    padding-left: 1rem;
  }
  .sidebar-items ul li a{
    text-decoration: none;
    padding-left: 4.5vw;
    margin-top: 0.2vh;
    color: wheat;
    position: absolute;
    }
    .favourite-pc-display-none{
      display: block;
    }
    .Search-pc-display-none{
      display: block;
    }
    .Search-pc-display-none i{
      color: white;
    }
    .favourite-pc-display-none i{
      color: red;
    }
    .Sidebar-contact i{
      color: rgb(0, 140, 255);
    }
    .Sidebar-Orders i{
      color:orange;
    }
    .Sidebar-About i{
      color:rgb(240, 4, 126);
    }
    .Sidebar-Home i{
      color:rgb(173, 173, 14);
    }
}
