
html,body {
  margin: 0; /* Remove default margin to ensure full height */
  padding: 0; /* Remove default padding to ensure full height */
}
.App {
  text-align: center;
}
.arrangement{
  display: flex;
  flex-direction: row;
}



@media (prefers-reduced-motion: no-preference) {
  
}


@keyframes App-logo-spin {
  
}
