
html,body {
  margin: 0; /* Remove default margin to ensure full height */
  padding: 0; /* Remove default padding to ensure full height */
}
.App {
  text-align: center;
}
.arrangement{
  display: flex;
  flex-direction: row;
}
.changingScreen{
  width: 81vw;
    right: 2vw;
    position: absolute;
    margin-top: 1rem;
    top: 20vh;
}



@media screen and (max-width:500px) {
  .changingScreen{
        width: 94vw;
        right: 3vw;
        left: 3vw;
        position: absolute;
        margin-top: 1rem;
        top: 17vh;
  }
  
}


@keyframes App-logo-spin {
  
}
